@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'),
       url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),
	   url('../fonts/fontawesome-webfont.woff?v=4.7.../0') format('woff'),
	   url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'),
	   url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
 }
/* Reset */

body {
    margin: 0;
    padding: 0;
    background-color: white;
}





/* Général */

h1 {
    text-align: center;

}

h2 {
    text-decoration: underline;
}

h3 {
    background-color: rgb(103, 186, 191);
    color: white;
    margin-bottom: 0;
    padding: 5px;
}

h3 a {
    color: white;
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: blue;
}

.underline {
    text-decoration: underline;
}





/* Menu de navigation */

nav {
    display: flex;
    margin-top: 15px;
}

ul {
    align-content: center;
    padding: 0;
    display: flex;
    flex-direction: row;
}

#public {
    left: 3%;
    position: relative;
}

#admin {
    right: 3%;
    position: absolute;
}

li {
    list-style: none;
    padding-left: 20px;
}

li a {
    color: white;
    padding: 3px;
}

li a:hover {
    border-bottom: 1px black solid;
    padding-bottom: 5px;
    color: black;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 75px;
    background-color: rgb(103, 186, 191);
}



/* Contenu */

#content {
    margin-top: 75px;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(220, 223, 229);
}





/* footer */

footer {
    background-color: rgb(103, 186, 191);
}

footer p,
footer a {
    color: white;
}

#contact p {
    margin-top: 0;
    padding-top: 15px;
    padding-left: 5px;
}

#contact {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    flex-direction: column;
    margin-left: 3%;
}

#contact h4 {
    text-decoration: underline;
}

#contactMail,
contactCourrier {
    display: flex;
}

#contactMail {
    margin-bottom: 15px;
}

alt {
    color: white;
}

#infosContact {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#contactCourrier {
    display: flex;
}

#contactCourrier img {
    max-height: 51px;
}

#contactTitle {
    display: flex;
    max-width: max-content;
}

#contactTitle img {
    width: 20px;
    height: 20px;
    padding-top: 20px;
    padding-right: 10px;
}

/* Home page */

#presentation {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

#texteAuteur {
    max-width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#photoAuteur {
    margin-right: 10px;
}

#photoAuteur img {
    max-width: 400px;
    width: 100%;
}

#projetEnCours {
    margin-top: 50px;
}

.projet {
    text-align: center;
    max-width: 310px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#projetAVenir form,
#projetAVenir p,
#projetAVenir i {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#projetAVenir p {
    margin-bottom: 0;
}

#projetAVenir i {
    margin-bottom: 20px;
}

input {
    margin-bottom: 10px;
}

label {
    display: flex;
}

#validationFormulaire {
    max-width: 100px;
}

#choixProjet {
    margin-bottom: 10px;
}

/* Liste livres */

#books {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

#book h3 {
    text-align: center;
    padding: 5px;
}

#book {
    max-width: 300px;
    min-width: 299px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#book_title {
    display: flex;
    justify-content: center;
}

#summary {
    text-align: center;
    margin-bottom: 50px;
}

#listeChapitre {
    text-align: center;
}

em a {
    color: rgb(103, 186, 191);
    text-decoration: underline;
}

em a:hover {
    text-decoration: none;
    border: 1px solid black;
    color: white;
    background-color: rgb(103, 186, 191);
    padding: 3px;
}

#workInProgress {
    max-width: 300px;
    min-width: 299px;
    height: 350px;
    display: flex;
    flex-direction: column;
}

#workInProgress #summary {
    margin-top: 100px;
}





/* Listes chapitres */

.chapter p {
    background-color: white;
    margin-top: 0px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.chapter {
    width: 80%;
    margin-left: 10%;
    padding-top: 60px;
}

.chapter h3 {
    min-width: 210px;
    padding-left: 5px;
}

h3 em {
    font-size: 0.75em;
}

.chapter p em {
    display: flex;
    padding-top: 10px;
}

#checkBox, #searchBar{
    display: none;
}

.checkBox:hover {
    cursor: pointer;
}

#loupe:before {
    font-family: FontAwesome;
    content: "\f002";
    font-size: 24px;
    text-align: center;
}

#checkBox[type="checkbox"]:checked ~ #searchBar{
    transition: all 1s;
    display: block;
}

#searchBar {
    margin-top: 10px;
}

#loupe {
    max-width: 25px;
}

.reverse {
    display: flex;
    flex-direction: column-reverse;
}





/* Chapitre/commentaires */

#retourRoman a {
    color: white;
}

#retourRoman {
    width: 200px;
    text-align: center;
    background-color: rgb(103, 186, 191);
}

#commentWriter {
    width: 100%;
    max-width: 210px;
}

#comment p {
    max-width: max-content;
    max-width: -moz-max-content;
    width: 100%;
    background-color: white;
    padding: 7px;
}


/* Login page */

#retourMainPage {
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: rgb(103, 186, 191);
}

#retourMainPage a {
    color: white;
}

#presentationAdmin {
    text-align: center;
}

#formulaireConnexion {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

#formulaireConnexion form {
    display: flex;
    flex-direction: column;
    max-width: 200px;
}

#formulaireConnexion form label {
    margin-bottom: 5px;
}
/*  */

/*  */
