@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'),
       url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),
	   url('../fonts/fontawesome-webfont.woff?v=4.7.../0') format('woff'),
	   url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype');
  font-weight: normal;
  font-style: normal;
 }

  /*****************************/
 /*-Reset + background+ fonts-*/
/*****************************/

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Cardo', serif;
}


  /***********/
 /*-Général-*/
/***********/

h1 {
    text-align: center;
}

h2 {
    text-decoration: underline;
}

h3 {
    color: black;
    margin-bottom: 0;
    padding: 5px;
}

h3 em {
    font-size: 0.75em;
}

h4 {
    text-decoration: underline;
}

h3 a {
    color: black;
    text-decoration: underline;
    text-decoration-color: red;
}

a {
    text-decoration: none;
    color: blue;
}

.underline {
    text-decoration: underline;
}

ul {
    align-content: center;
    padding: 0;
    display: flex;
    flex-direction: row;
}

li {
    list-style: none;
    padding-left: 20px;
}

li a {
    color: black;
    padding: 3px;
}

li a:hover {
    border-bottom: 1px red solid;
    padding-bottom: 5px;
    color: black;
}

input {
    margin-bottom: 10px;
}

label {
    display: flex;
}

em a {
    border-bottom: red solid 1px;
    color: black;
}

hr {
    margin-top: 50px;
    max-width: 400px;
}

a i {
    padding-top: 5px;
}

.redUnderline {
    text-decoration: underline;
    text-decoration-color: red;
}

.blackUnderline {
    text-decoration: underline;
}


  /**********************/
 /*-Menu de navigation-*/
/**********************/

header {
    z-index: 2;
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 75px;
    background-color: rgba(255,255,255,0.9);
    border-bottom: solid 1px black;
}

nav {
    display: flex;
    margin-top: 15px;
}

#public {
    left: 3%;
    position: relative;
}

#admin {
    right: 3%;
    position: absolute;
}

#arrow {
    position: fixed;
    right: 30px;
    bottom: 75px;
}
#arrow img {
    width: 35px;
    padding: 5px;
    background-color: rgba(220,220,220,0.7);
    border-radius: 25%;
}


  /***********/
 /*-Contenu-*/
/***********/

#content {
    position: relative;
    margin-top: 75px;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 5px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 1;
    min-height: 100%;
}


  /**********/
 /*-footer-*/
/**********/

footer {
    border-top: solid 1px black;
}

#contact {
    display: flex;
    padding-bottom: 10px;
    flex-direction: column;
    margin-left: 3%;
}

#contactTitle {
    display: flex;
    max-width: max-content;
}

#infosContact {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 0 !important;
}

#contactMail,
contactCourrier {
    display: flex;
}

#contactMail {
    margin-bottom: 15px;
}

#contactMail p {
    margin-left: 5px;
}

#contactCourrier {
    display: flex;
}

#contactCourrier img {
    height: 50px;
}

footer p,
footer a {
    color: black;
}

#adresse {
    border-bottom: solid 1px red;
}
#contact div {
    margin-top: 0;
    padding-top: 15px;
    padding-left: 5px;
}


  /*************/
 /*-Home page-*/
/*************/

#presentation {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

#photoAuteur {
    margin-right: 10px;
}

#photoAuteur img {
    width: 100%;
}

#texteAuteur {
    max-width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#texteAuteur p {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
}

#projetEnCours {
    margin-top: 50px;
}

.projets {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.projet {
    text-align: center;
    max-width: 310px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px;
}



  /****************/
 /*-Liste livres-*/
/****************/

#books {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 100px;

}

#book {
    max-width: 300px;
    display: flex;
    padding: 15px;
    flex-direction: column;
    justify-content: space-between;
    border: solid 1px;
}

#book h3 {
    text-align: center;
    padding: 5px;
}

.book_title {
    display: flex;
    justify-content: center;
}

.book_title h3 {
    color: black;
}

#listeChapitre {
    text-align: center;
}

.workInProgress {
    max-width: 300px;
    height: 350px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    border: solid 1px;
}

.workInProgress #summary {
    margin-top: 100px;
}


  /********************/
 /*-Listes chapitres-*/
/********************/

#retourPrecedent {
    width: 200px;
    text-align: center;
    padding: 5px;
    padding-top: 15px;
    margin-bottom: 5px;
}

#retourPrecedent a {
    color: black;
    border-top: solid 1px red;
    padding-top: 3px;
}

#addPost {
    display: flex;
    margin-top: 30px;
    justify-content: center;
    font-size: 1.3em;
}

#addPost a, #addFirstPost a {
    color: black;
    border-bottom: solid 1px red;
    padding: 5px;
}

#addFirstPost {
    display: flex;
    margin-top: 150px;
    margin-bottom: 20px;
    justify-content: center;
    font-size: 1.3em;
}

#workInProgressImg {
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.contenuChapitre {
    padding-top: 10px;
    padding-bottom: 10px;
}

.contenuChapitre p {
    margin-bottom: 0 !important;
    padding-right: 10px !important;
    padding-left: 10px !important;
    margin-top: 0px !important;
}

.chapter p {
    background-color: white;
    margin-top: 0px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.chapter {
    width: 80%;
    margin-left: 10%;
    padding-top: 60px;
}

.chapitreBorder {
    border: solid 1px black;
}

.chapter h3 {
    min-width: 210px;
    padding-left: 10px;
    margin-top: 0;
    padding-bottom: 10px;
    border-bottom: solid 1px black;
}

.readMoreAndComment {
    display: flex;
    padding-top: 10px;
    padding-left: 10px;
}

#checkBox, #searchBar {
    display: none;
}

.checkBox:hover {
    cursor: pointer;
}

#loupe:before {
    font-family: FontAwesome;
    content: "\f002";
    font-size: 24px;
    text-align: center;
}

#checkBox[type="checkbox"]:checked ~ #searchBar {
    transition: all 1s;
    display: block;
}

#searchBar {
    margin-top: 10px;
    margin-left: 15px;
}

#loupe {
    max-width: 25px;
    margin-left: 15px;
}

.reverse {
    display: flex;
    flex-direction: column-reverse;
}


  /*************************/
 /*-Chapitre/commentaires-*/
/*************************/

#commentWriter {
    width: 375px;
    height: 50px;
}

.reportCommentSeparation {
    border-top: dashed 1px;
    margin-top: 10px;
    padding-top: 5px;
}

.reportCommentSeparation p {
    margin: 0;
}

.commentDate {
    margin-bottom: 10px;
}

.comment {
    max-width: 380px;
    margin-top: 5px;
    padding-bottom: 7px;
    border: solid 1px;
}

.comment div {
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
    text-align: center;
}

.comment a {
    margin-top: 5px;
    padding-left: 7px;
    color: black;
}


  /**************/
 /*-Login page-*/
/**************/

#presentationAdmin {
    text-align: center;
    margin-top: 100px;
}

#retourMainPage {
    display: flex;
    justify-content: center;
}

#retourMainPage a {
    padding: 5px;
    color: black;
    border-bottom: solid 1px red;
}

#formulaireConnexion {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

#formulaireConnexion form label {
    margin-bottom: 5px;
}

#envoyerConnexionAlign {
    display: flex;
    justify-content: center;
}

#afficherMdpBox {
    width: 27px;
    height: 27px;
}

#afficherMdp, #masquerMdp {
    cursor: pointer;
    width: 100%;
    margin-left: 10px;
}

#masquerMdp {
    display: none;
}

#afficherMdp:before {
    font-family: FontAwesome;
    content: "\f06e";
    font-size: 27px;
}

#masquerMdp:before {
    font-family: FontAwesome;
    content: "\f070";
    font-size: 27px;
}

#idField, #pwField{
    width: 213px;
}

#pwInput {
    display: flex;
}

#pwInput input {
    height: 21px !important;
}


  /**************/
 /*-Admin page-*/
/**************/

#infosAdmin {
    margin-bottom: 25px;
}

.section {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.section h3 {
    color: black;
    border: solid black 1px;
    padding: 10px;
    margin-bottom: 50px;
}

#listeRomansAdmin {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.linkPosition {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 10px;
}

.linkPosition a {
    padding-bottom: 5px;
}

.delete {
    color: red;
}

.modify {
    color: rgb(131, 144, 152) !important;
}

.publish {
    color : coral;
}

#boutonAjout {
    display: flex;
    margin-top: 10px;
}

#boutonAjout a {
    display: flex;
    margin: auto;
    flex-direction: column;
    color: black;
}

#ajoutRomanBouton {
    display: flex;
    justify-content: center;
    color: rgb(131, 144, 152);
}

#reportedComments a, .confirmDelete {
    color: red;
}

#reportedComments {
    margin-top: 150px;
}

.linkPosition a:hover {
    text-decoration: underline;
}

.dotLine {
   border-top: dashed 1px;
}



  /*************************/
 /*-Ajout nouveau contenu-*/
/*************************/

#addContentForm label {
    margin-bottom: 10px;
}

#contentTitle {
    width: 100%;
    height: 25px;
}

#alignNewContentBtn {
    display: flex;
    justify-content: center;
}

#createNewContent {
    min-height: 30px;
    width: 100%;
    margin-top: 10px;
    cursor: pointer;
}

.contentToAddMargin {
    margin-top: 10px;
}





    /**************************/
   /**************************/
  /*-Media queries TABLETTE-*/
 /**************************/
/**************************/

@media screen and (min-width: 100px) and (max-width: 770px) {

    /*-content-*/
    #content {
        margin-left: 0;
        margin-right: 0;
    }
}



@media screen and (min-width: 100px) and (max-width: 710px) {

    /*-content-*/
    #content {
        margin-top: 100px;
    }


    /*-Header / nav-*/
    nav {
        display: block;
    }

    #admin {
        position: initial;
        right: 0;
        display: flex;
        justify-content: center;
    }

    #public {
        left: 0;
        display: flex;
        justify-content: center;
    }


    /*-Liste livres-*/
    #books {
        margin-top: 50px;
    }
    #book, #workInProgress {
        margin-bottom: 15px;
    }


    /*-Liste chapitres-*/
    #retourPrecedent {
        margin: 0 auto;
    }
}



@media screen and (min-width: 100px) and (max-width: 625px) {

    /*-Home Page-*/
    #presentation {
        flex-wrap: wrap;
        margin-top: 50px;
    }

    /*-home page-*/
    .shadow {
    box-shadow: none;
}


    /*-Listes chapitres-*/
    .reverse {
        margin-top: 20px;
    }

    .chapter {
        width: 100%;
        margin-left: 0;
        padding-top: 20px;
    }
}





    /*****************************/
   /*****************************/
  /*-Media queries SMARTHPHONE-*/
 /*****************************/
/*****************************/

@media screen and (min-width: 100px) and (max-width: 401px) {

    /*-Header / nav-*/
    header {
        position: absolute;
    }

    #hautePage {
        display: none;
    }
}
